.about-header {
  display: grid;
  place-items: center;
  background-image: url("images/image1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-block: 4rem;
  position: relative;
}

.about-header::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

h1 {
  color: #fff;
}

.about-header h1 {
  z-index: 7;
}

/* experience */

.experience {
  padding-block: 4rem;
}

.experience-wrapper {
  display: grid;
  gap: 1rem;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
}

.experience-content {
  background-color: gray;
  padding: 5rem 2.5rem;
  border-radius: 10px;
  color: #000;
  position: relative;
}

.experience-content h3 {
  color: #000;
  margin-bottom: 20px;
}

.experience-image img {
  border-radius: 0 80px 0 80px;
}

.experience-content::after {
  content: "10+ Years Experience ";
  position: absolute;
  bottom: -40px;
  right: 50%;
  transform: translateX(50%);
  color: #fff;
  font-family: inherit;
  font-size: 1.2rem;
  letter-spacing: 1px;

  background-color: rgba(30, 30, 117, 0.822);
  border-radius: 0 30px 0 30px;

  padding: 0.5rem 3.5rem;

  align-self: center;
  justify-content: center;
}

@media (width >500px) {
  .experience-content::after {
    top: -90%;

    right: 0;
  }
}
