.about-header {
  display: grid;
  place-items: center;
  background-image: url("images/image1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-block: 4rem;
  position: relative;
}

.about-header::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

h1 {
  color: #fff;
}

.about-header h1 {
  z-index: 7;
}

/* experience */

.experience {
  padding-block: 4rem;
}

.experience-wrapper {
  display: grid;
  gap: 1rem;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
}

.experience-content {
  background-color: gray;
  padding: 5rem 2.5rem;
  border-radius: 10px;
  color: #000;
  position: relative;
}

.experience-content h3 {
  color: #000;
  margin-bottom: 20px;
}

.experience-image img {
  border-radius: 0 40px 0 40px;
}

.experience-content::after {
  content: "10+ Years Experience ";
  position: absolute;
  bottom: -40px;
  right: 50%;
  transform: translateX(50%);
  color: #fff;
  font-family: inherit;
  font-size: 1.2rem;
  letter-spacing: 1px;

  background-color: rgba(30, 30, 117, 0.822);
  border-radius: 0 30px 0 30px;

  padding: 0.5rem 3.5rem;

  align-self: center;
  justify-content: center;
}

@media (width >500px) {
  .experience-content::after {
    top: -90%;

    right: 0;
  }
}

/* qualities */
.qualities {
  padding-block: 5rem;
}
.qualities-cards {
  display: grid;
  gap: 3rem 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 120px), 1fr));
}

.qualities-card {
  display: grid;
  place-items: center;
}

/* our-way */
.our-way-wrapper {
  display: grid;
  gap: 2rem 1rem;

  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
}

.our-way-content {
  display: grid;
  gap: 1.5rem;
}
.our-way-content__header {
  display: grid;
  margin-top: auto;
  width: fit-content;
}

.our-way-content__body-cards {
  display: grid;
  gap: 2rem;
}

.our-way-content__body-card {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.our-way-content__body-card h2 {
  border: 1px solid rgba(225, 125, 239, 0.4);
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.our-way-content button {
  place-self: center;
  color: #ffff;
}

/* newsletter */

.newsletter {
  /* background-color: green; */
  border: 2px dashed green;
  margin-block: 3rem;
  width: 95%;
  display: grid;
  gap: 1rem;
  place-items: center;
  border-radius: 10px;
  margin-inline: auto;
  padding: 1rem 2rem;
}
.newsletter h3 {
  margin-block-end: 10px;
  color: #fff;
}

.newletter-input input {
  padding: 0.8rem 1rem;
  outline: none;
  border-radius: 10px;
  border: none;
}

.newletter-input button {
  color: #ffff;
}

.newletter p {
  color: black;
}

@media (width >500px) {
  .newsletter {
    width: 60%;
  }
}
